.main-register {
  width: 100%;
  height: 100vh;
  display: none;
  transition: all ease 0.6s;

  &.dark-mode {
    background-color: #495057;
    transition: all ease 0.6s;
  }

  .main-register__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-anchor {
      width: 30%;
      font-size: 40px;
      color: #08024b;
      margin-top: 100px;
      transition: all ease 0.6s;

      &:hover {
        color: #0a3b6e;
        transition: all ease 0.6s;
      }

      &.dark-mode {
        color: #90e0ef;
        transition: all ease 0.6s;
      }
    }

    &__authentication {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      &__title {
        color: #08024b;
        font-size: 50px;
        margin-top: 30px;
        margin-bottom: 50px;
        transition: all ease 0.6s;

        &.dark-mode {
          color: #90e0ef;
          transition: all ease 0.6s;
        }
      }

      &__user {
        position: relative;
        margin-bottom: 20px;

        &-label {
          position: absolute;
          bottom: 9px;
          font-size: 1.5rem;
          left: 10px;
          color: #08024b;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #90e0ef;
            transition: all ease 0.6s;
          }
        }

        &-input {
          font-size: 1.2rem;
          padding: 10px 0 10px 41px;
          border: none;
          border: 1px solid #08024b;
          outline: none;
          border-radius: 10px;

          &:focus{
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
          }

          &::placeholder{
            color: #08024b;
          }

          &.dark-mode {
            background-color: #212529;
            border: none;
            color: #90e0ef;
            transition: all ease 0.6s;

            &::placeholder {
              color: #90e0ef;
              transition: all ease 0.6s;
            }

            &:focus {
              border-radius: 10px;
              transition: all ease 0.6s;
            }
          }
        }
      }

      &__email {
        position: relative;
        margin-bottom: 20px;

        &-label {
          position: absolute;
          bottom: 9px;
          font-size: 1.5rem;
          left: 10px;
          color: #08024b;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #90e0ef;
            transition: all ease 0.6s;
          }
        }

        &-input {
          font-size: 1.2rem;
          padding: 10px 0 10px 41px;
          border: none;
          border: 1px solid #08024b;
          outline: none;
          border-radius: 10px;

          &:focus{
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
          }

          &::placeholder{
            color: #08024b;
          }

          &.dark-mode {
            background-color: #212529;
            border: none;
            color: #90e0ef;
            transition: all ease 0.6s;

            &::placeholder {
              color: #90e0ef;
              transition: all ease 0.6s;
            }

            &:focus {
              border-radius: 10px;
              transition: all ease 0.6s;
            }
          }
        }
      }

      &__password {
        position: relative;
        margin-bottom: 20px;

        &-label {
          position: absolute;
          bottom: 9px;
          font-size: 1.5rem;
          left: 10px;
          color: #08024b;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #90e0ef;
            transition: all ease 0.6s;
          }
        }

        &-input {
          font-size: 1.2rem;
          padding: 10px 0 10px 41px;
          border: none;
          border: 1px solid #08024b;
          outline: none;
          border-radius: 10px;
          
          &:focus{
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
          }

          &::placeholder{
            color: #08024b;
          }

          &.dark-mode {
            background-color: #212529;
            border: none;
            color: #90e0ef;
            transition: all ease 0.6s;

            &::placeholder {
              color: #90e0ef;
              transition: all ease 0.6s;
            }

            &:focus {
              border-radius: 10px;
              transition: all ease 0.6s;
            }
          }
        }
      }

      &__password-confirm {
        position: relative;

        &-label {
          position: absolute;
          bottom: 9px;
          font-size: 1.5rem;
          left: 10px;
          color: #08024b;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #90e0ef;
            transition: all ease 0.6s;
          }
        }

        &-input {
          font-size: 1.2rem;
          padding: 10px 0 10px 41px;
          border: none;
          border: 1px solid #08024b;
          outline: none;
          border-radius: 10px;
          
          &:focus{
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
          }

          &::placeholder{
            color: #08024b;
          }

          &.dark-mode {
            background-color: #212529;
            border: none;
            color: #90e0ef;
            transition: all ease 0.6s;

            &::placeholder {
              color: #90e0ef;
              transition: all ease 0.6s;
            }

            &:focus {
              border-radius: 10px;
              transition: all ease 0.6s;
            }
          }
        }
      }

      & .check{
        color: #08024b;
        margin-top: 10px;
        transition: all ease 0.6s;
        
        &.dark-mode {
          color: #90e0ef;
          transition: all ease 0.6s;
        }
      }

      &__acess {
        margin-top: 30px;
        text-decoration: none;
        padding: 15px 60px;
        background-color: #08024b;
        color: #fff;
        border-radius: 50px;
        transition: all ease 0.6s;

        &:hover {
          background-color: #0a3b6e;
          transition: all ease 0.6s;
        }

        &.dark-mode {
          background-color: #90e0ef;
          color: #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #487d86;
            transition: all ease 0.6s;
          }
        }
      }
    }
  }
}
