.main {
  width: 100%;

  &__wrapper {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;

    &__navigation {
      width: 70px;
      background-color: #caf0f8;
      transition: all ease 0.6s;

      &.dark-mode {
        background-color: #343a40;
        transition: all ease 0.6s;
      }

      &__sec {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &-one {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;

          & #list-01 {
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            margin-top: 10px;
            text-decoration: none;
            transition: all ease 0.6s;

            &:hover {
              & #list-01__icon {
                transform: rotate(360deg);
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }

              & #list-01__paragraph {
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }
            }

            &__icon {
              font-size: 1.8rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }
          }

          & #list-02 {
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            text-decoration: none;
            transition: all ease 0.6s;

            &:hover {
              & #list-02__icon {
                transform: rotate(360deg);
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }

              & #list-02__paragraph {
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }
            }

            &__icon {
              font-size: 1.8rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }
          }

          & #list-03 {
            transition: all ease 0.6s;
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            text-decoration: none;
            transition: all ease 0.6s;

            &__icon {
              font-size: 1.8rem;
              color: #08024b;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #90e0ef;
                transition: all ease 0.6s;
              }
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #08024b;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #90e0ef;
                transition: all ease 0.6s;
              }
            }
          }
        }

        &-two {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;

          & #list-01 {
            transition: all ease 0.6s;
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            transition: all ease 0.6s;

            &:hover {
              & #list-01__icon {
                transform: rotate(360deg);
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }

              & #list-01__paragraph {
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }
            }

            &__icon {
              font-size: 1.8rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }
          }

          & #list-02 {
            transition: all ease 0.6s;
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            text-decoration: none;
            transition: all ease 0.6s;

            &:hover {
              & #list-02__icon {
                transform: rotate(360deg);
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }

              & #list-02__paragraph {
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }
            }

            &__icon {
              font-size: 1.8rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }
          }
        }
      }
    }

    &__places{
      display: flex;
      flex-direction: column;
      position: relative;
      width: 30%;
      background-color: #fff;
      box-shadow: 0px 0 8px 0 #b9b9b9;
      overflow: auto;
      transition: all ease 0.6s;
    }

    &__graphic{
      width: 65%;
      transition: all ease 0.6s;
    }
  }
}

// Responsive for notebook with size diferents
@media screen and (min-width: 1400px) {
  // Code Here
}
