.main {
  width: 100%;

  &__wrapper {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;

    &__navigation {
      width: 70px;
      background-color: #caf0f8;

      &__sec {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &-one {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;

          & #list-01 {
            transition: all ease 0.6s;
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            transition: all ease 0.6s;
            margin-top: 10px;

            &__icon {
              font-size: 1.8rem;
              color: #08024b;
              transition: all ease 0.6s;
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #08024b;
              transition: all ease 0.6s;
            }
          }

          & #list-02 {
            transition: all ease 0.6s;
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            transition: all ease 0.6s;

            &:hover {
              & #list-02__icon {
                transform: rotate(360deg);
                color: #08024b;
                transition: all ease 0.6s;
              }

              & #list-02__paragraph {
                color: #08024b;
                transition: all ease 0.6s;
              }
            }

            &__icon {
              font-size: 1.8rem;
              color: #0081f5;
              transition: all ease 0.6s;
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #0081f5;
              transition: all ease 0.6s;
            }
          }

          & #list-03 {
            transition: all ease 0.6s;
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            transition: all ease 0.6s;

            &:hover {
              & #list-03__icon {
                transform: rotate(360deg);
                color: #08024b;
                transition: all ease 0.6s;
              }

              & #list-04__paragraph {
                color: #08024b;
                transition: all ease 0.6s;
              }
            }

            &__icon {
              font-size: 1.8rem;
              color: #0081f5;
              transition: all ease 0.6s;
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #0081f5;
              transition: all ease 0.6s;
            }
          }
        }

        &-two {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;

          & #list-01 {
            transition: all ease 0.6s;
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            transition: all ease 0.6s;

            &:hover {
              & #list-01__icon {
                transform: rotate(360deg);
                color: #08024b;
                transition: all ease 0.6s;
              }

              & #list-01__paragraph {
                color: #08024b;
                transition: all ease 0.6s;
              }
            }

            &__icon {
              font-size: 1.8rem;
              color: #0081f5;
              transition: all ease 0.6s;
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #0081f5;
              transition: all ease 0.6s;
            }
          }

          & #list-02 {
            transition: all ease 0.6s;
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            text-decoration: none;
            transition: all ease 0.6s;

            &:hover {
              & #list-02__icon {
                transform: rotate(360deg);
                color: #08024b;
                transition: all ease 0.6s;
              }

              & #list-02__paragraph {
                color: #08024b;
                transition: all ease 0.6s;
              }
            }

            &__icon {
              font-size: 1.8rem;
              color: #0081f5;
              transition: all ease 0.6s;
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #0081f5;
              transition: all ease 0.6s;
            }
          }
        }
      }
    }

    &__house {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      background-color: #fff;
      box-shadow: 0px 0 8px 0 #b9b9b9;
      overflow: auto;

      &__search {
        position: relative;
        width: 70%;
        margin-top: 20px;
        margin-bottom: 10px;

        & input {
          width: 90%;
          padding: 10px 0;
          padding-left: 35px;
          border: 2px solid #90e0ef;
          font-size: 1rem;
          border-radius: 35px;
        }

        & #input {
          position: absolute;
          bottom: 13px;
          left: 10px;
          cursor: pointer;
        }
      }

      &__title {
        color: #08024b;
        margin-bottom: 40px;
      }

      &-sp {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &-text {
          font-size: 1.3rem;
          font-weight: bold;
          color: #08024b;
          margin-bottom: 10px;
        }

        & img {
          width: 90%;
          border-radius: 15px;
        }

        &-information {
          margin: 10px 0;

          &-paragraph {
            line-height: 20px;
            text-align: center;
            color: #08024b;

            & i {
              color: #f3f32d;
            }
          }
        }

        &-btn {
          padding: 15px 0px;
          background-image: linear-gradient(51deg, #0093e9 0%, #80d0c7 100%);
          border: none;
          font-size: 1rem;
          border-radius: 30px;
          color: #08024b;
          width: 35%;
          cursor: pointer;
          transition: all ease 0.6s;

          &:hover {
            background-image: linear-gradient(101deg, #0093e9 0%, #80d0c7 100%);
            color: #fff;
            transition: all ease 0.6s;
          }
        }
      }

      &-miami {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &-text {
          font-size: 1.3rem;
          font-weight: bold;
          color: #08024b;
          margin-bottom: 10px;
          margin-top: 40px;
        }

        & img {
          width: 90%;
          border-radius: 15px;
        }

        &-information {
          margin: 10px 0;

          &-paragraph {
            line-height: 20px;
            text-align: center;
            color: #08024b;

            & i {
              color: #f3f32d;
            }
          }
        }

        &-btn {
          padding: 15px 0px;
          background-image: linear-gradient(51deg, #0093e9 0%, #80d0c7 100%);
          border: none;
          font-size: 1rem;
          border-radius: 30px;
          color: #08024b;
          width: 35%;
          cursor: pointer;
          transition: all ease 0.6s;

          &:hover {
            background-image: linear-gradient(101deg, #0093e9 0%, #80d0c7 100%);
            color: #fff;
            transition: all ease 0.6s;
          }
        }
      }

      &-londres {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &-text {
          font-size: 1.3rem;
          font-weight: bold;
          color: #08024b;
          margin-bottom: 10px;
          margin-top: 40px;
        }

        & img {
          width: 90%;
          border-radius: 15px;
        }

        &-information {
          margin: 10px 0;

          &-paragraph {
            line-height: 20px;
            text-align: center;
            color: #08024b;

            & i {
              color: #f3f32d;
            }
          }
        }

        &-btn {
          padding: 15px 0px;
          background-image: linear-gradient(51deg, #0093e9 0%, #80d0c7 100%);
          border: none;
          font-size: 1rem;
          border-radius: 30px;
          color: #08024b;
          width: 35%;
          cursor: pointer;
          transition: all ease 0.6s;

          &:hover {
            background-image: linear-gradient(101deg, #0093e9 0%, #80d0c7 100%);
            color: #fff;
            transition: all ease 0.6s;
          }
        }
      }

      &-orlando {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &-text {
          font-size: 1.3rem;
          font-weight: bold;
          color: #08024b;
          margin-bottom: 10px;
          margin-top: 40px;
        }

        & img {
          width: 90%;
          border-radius: 15px;
        }

        &-information {
          margin: 10px 0;

          &-paragraph {
            line-height: 20px;
            text-align: center;
            color: #08024b;

            & i {
              color: #f3f32d;
            }
          }
        }

        &-btn {
          padding: 15px 0px;
          background-image: linear-gradient(51deg, #0093e9 0%, #80d0c7 100%);
          border: none;
          font-size: 1rem;
          border-radius: 30px;
          color: #08024b;
          width: 35%;
          cursor: pointer;
          transition: all ease 0.6s;
          margin-bottom: 30px;

          &:hover {
            background-image: linear-gradient(101deg, #0093e9 0%, #80d0c7 100%);
            color: #fff;
            transition: all ease 0.6s;
          }
        }
      }
    }

    &__abode {
      width: 65%;
      transition: all ease 0.6s;
      overflow: auto;

      &__ilustration {
        width: 73%;
        margin-left: 120px;
        transition: all ease-in 0.6s;
        opacity: 1;
      }

      &__favorSp-01 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
        }

        #bold {
          font-weight: bold;
          color: #000;
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorSp-02 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
        }

        #bold {
          font-weight: bold;
          color: #000;
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorSp-03 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
        }

        #bold {
          font-weight: bold;
          color: #000;
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorSp-04 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
        }

        #bold {
          font-weight: bold;
          color: #000;
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorMiami-01 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
        }

        #bold {
          font-weight: bold;
          color: #000;
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorMiami-02 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
        }

        #bold {
          font-weight: bold;
          color: #000;
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorMiami-03 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
        }

        #bold {
          font-weight: bold;
          color: #000;
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorMiami-04 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
        }

        #bold {
          font-weight: bold;
          color: #000;
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorLondres-01 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
        }

        #bold {
          font-weight: bold;
          color: #000;
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorLondres-02 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
        }

        #bold {
          font-weight: bold;
          color: #000;
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorLondres-03 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
        }

        #bold {
          font-weight: bold;
          color: #000;
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorLondres-04 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
        }

        #bold {
          font-weight: bold;
          color: #000;
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorOrlando-01 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
        }

        #bold {
          font-weight: bold;
          color: #000;
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorOrlando-02 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
        }

        #bold {
          font-weight: bold;
          color: #000;
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorOrlando-03 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
        }

        #bold {
          font-weight: bold;
          color: #000;
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorOrlando-04 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
        }

        #bold {
          font-weight: bold;
          color: #000;
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }
    }
  }
}
