.popUp {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__box {
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      width: 50%;
      height: 40%;
      box-shadow: 0px 0px 10px 0px #90e0ef;
      padding: 10px;
      border-radius: 15px;

      &__navigation {
        width: 50%;

        &__list {
          width: 100%;

          &-1 {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            cursor: pointer;
            pointer-events: all;

            &:hover {
              i {
                color: #08024b;
                transform: rotate(360deg);
                transition: all ease .6s;
              }

              p {
                color: #08024b;
              }
            }

            & i {
              color: #90e0ef;
              margin-right: 15px;
              font-size: 2rem;
              transition: all ease .6s;
            }

            & p {
              color: #90e0ef;
              font-size: 1.3rem;
              transition: all ease .6s;
            }
          }

          &-2 {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            cursor: pointer;
            pointer-events: all;

            &:hover {
              i {
                color: #08024b;
                transform: rotate(360deg);
                transition: all ease .6s;
              }

              p {
                color: #08024b;
              }
            }

            & i {
              color: #90e0ef;
              margin-left: 4px;
              font-size: 2rem;
              margin-right: 22px;
            }

            & p {
              color: #90e0ef;
              font-size: 1.3rem;
            }
          }

          &-3 {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            cursor: pointer;
            pointer-events: all;

            &:hover {
              i {
                color: #08024b;
                transform: rotate(360deg);
                transition: all ease .6s;
              }

              p {
                color: #08024b;
              }
            }

            & i {
              color: #90e0ef;
              margin-right: 19px;
              font-size: 2rem;
              margin-left: 3px;
            }

            & p {
              color: #90e0ef;
              font-size: 1.3rem;
            }
          }

          &-4 {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            cursor: pointer;
            pointer-events: all;

            &:hover {
              i {
                color: #08024b;
                transform: rotate(360deg);
                transition: all ease .6s;
              }

              p {
                color: #08024b;
              }
            }

            & i {
              color: #90e0ef;
              margin-right: 17px;
              font-size: 2rem;
              margin-left: 2px;
            }

            & p {
              color: #90e0ef;
              font-size: 1.3rem;
            }
          }
        }
      }

      &__panel {
        width: 50%;

        &__accont {
          width: 100%;

          &-name {
            display: flex;
            justify-content: space-between;
            width: 100%;
          }
        }
      }
    }
  }
}
