.main {
  width: 100%;

  &__wrapper {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;

    &__navigation {
      width: 70px;
      background-color: #caf0f8;
      transition: all ease 0.6s;

      &.dark-mode {
        background-color: #343a40;
        transition: all ease 0.6s;
      }

      &__sec {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &-one {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;

          & #list-01 {
            transition: all ease 0.6s;
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            margin-top: 10px;
            text-decoration: none;
            transition: all ease 0.6s;

            &:hover {
              & #list-01__icon {
                transform: rotate(360deg);
                color: #08024b;
                transition: all ease 0.6s;
              }

              & #list-01__paragraph {
                color: #08024b;
                transition: all ease 0.6s;
              }
            }

            &__icon {
              font-size: 1.8rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #90e0ef;
                transition: all ease 0.6s;
              }
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #90e0ef;
                transition: all ease 0.6s;
              }
            }
          }

          & #list-02 {
            transition: all ease 0.6s;
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            text-decoration: none;
            transition: all ease 0.6s;

            &__icon {
              font-size: 1.8rem;
              color: #08024b;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #08024b;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }
          }

          & #list-03 {
            transition: all ease 0.6s;
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            text-decoration: none;
            transition: all ease 0.6s;

            &:hover {
              & #list-03__icon {
                transform: rotate(360deg);
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }

              & #list-03__paragraph {
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }
            }

            &__icon {
              font-size: 1.8rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }
          }
        }

        &-two {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;

          & #list-01 {
            transition: all ease 0.6s;
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            transition: all ease 0.6s;

            &:hover {
              & #list-01__icon {
                transform: rotate(360deg);
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }

              & #list-01__paragraph {
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }
            }

            &__icon {
              font-size: 1.8rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }
          }

          & #list-02 {
            transition: all ease 0.6s;
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            text-decoration: none;
            transition: all ease 0.6s;

            &:hover {
              & #list-02__icon {
                transform: rotate(360deg);
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }

              & #list-02__paragraph {
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }
            }

            &__icon {
              font-size: 1.8rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }
          }
        }
      }
    }

    &__chat {
      display: flex;
      flex-direction: column;
      width: 30%;
      background-color: #fff;
      box-shadow: 0px 0 8px 0 #b9b9b9;
      overflow: auto;
      transition: all ease 0.6s;

      &__support {
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dddddd;
        cursor: pointer;
        transition: all ease .3s;

        &:hover{
          background-color: #f0f8ff;
          transition: all ease .3s;
        }

        &-photo {
          width: 50px;
          background-color: #7fffd4;
          height: 50px;
          border-radius: 35px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #08024b;

          & i {
            color: #08024b;
            font-size: 1.6rem;
          }
        }

        &-information {
          margin-left: 20px;
          margin-right: 95px;

          &-name {
            margin-bottom: 8px;
            font-size: 1.2rem;
            color: #08024b;
          }

          &-text {
            display: flex;

            & i {
              margin-right: 5px;
              font-size: 0.9rem;
              color: #404040;
            }

            &-message {
              font-size: 0.9rem;
              color: #404040;
            }
          }
        }

        &-eraser {
          display: flex;
          flex-direction: column;
          align-items: center;

          &-time {
            margin-bottom: 5px;
            font-size: 0.8rem;
            color: #404040;
          }

          & i {
            color: #404040;
            transition: all ease .2s;
    
            &:hover{
              color: #d81919;
              transition: all ease .2s;
            }
          }
        }
      }
      &__user {
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dddddd;
        cursor: pointer;
        transition: all ease .33s;

        &:hover{
          background-color: #f0f8ff;
          transition: all ease .3s;
        }

        &-photo {
          width: 50px;
          background-color: #7fffd4;
          height: 50px;
          border-radius: 35px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #08024b;

          & i {
            color: #08024b;
            font-size: 1.6rem;
          }
        }

        &-information {
          margin-left: 20px;
          margin-right: 95px;

          &-name {
            margin-bottom: 8px;
            font-size: 1.2rem;
            color: #08024b;
          }

          &-text {
            display: flex;

            & i {
              margin-right: 5px;
              font-size: 0.9rem;
              color: #404040;
            }

            &-message {
              font-size: 0.9rem;
              color: #404040;
            }
          }
        }

        &-eraser {
          display: flex;
          flex-direction: column;
          align-items: center;

          &-time {
            margin-bottom: 5px;
            font-size: 0.8rem;
            color: #404040;
          }

          & i {
            color: #404040;
            transition: all ease .2s;
    
            &:hover{
              color: #d81919;
              transition: all ease .2s;
            }
          }
        }
      }
    }

    &__abode {
      width: 65%;
      overflow: auto;
      transition: all ease 0.6s;

      &.dark-mode {
        background-color: #495057;
        transition: all ease 0.6s;
      }

      &__ilustration {
        width: 73%;
        margin-left: 120px;
        transition: all ease-in 0.6s;
        opacity: 1;
      }

      &__favorSp-01 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &.dark-mode {
          border-bottom: 1px solid #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #343a40;
          }
        }

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #fff;
            transition: all ease 0.6s;
          }
        }

        #bold {
          font-weight: bold;
          color: #000;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #91ebfd;
            transition: all ease 0.6s;
          }
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorSp-02 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &.dark-mode {
          border-bottom: 1px solid #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #343a40;
          }
        }

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #fff;
            transition: all ease 0.6s;
          }
        }

        #bold {
          font-weight: bold;
          color: #000;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #91ebfd;
            transition: all ease 0.6s;
          }
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorSp-03 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &.dark-mode {
          border-bottom: 1px solid #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #343a40;
          }
        }

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #fff;
            transition: all ease 0.6s;
          }
        }

        #bold {
          font-weight: bold;
          color: #000;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #91ebfd;
            transition: all ease 0.6s;
          }
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorSp-04 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &.dark-mode {
          border-bottom: 1px solid #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #343a40;
          }
        }

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #fff;
            transition: all ease 0.6s;
          }
        }

        #bold {
          font-weight: bold;
          color: #000;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #91ebfd;
            transition: all ease 0.6s;
          }
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorMiami-01 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &.dark-mode {
          border-bottom: 1px solid #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #343a40;
          }
        }

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #fff;
            transition: all ease 0.6s;
          }
        }

        #bold {
          font-weight: bold;
          color: #000;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #91ebfd;
            transition: all ease 0.6s;
          }
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorMiami-02 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &.dark-mode {
          border-bottom: 1px solid #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #343a40;
          }
        }

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #fff;
            transition: all ease 0.6s;
          }
        }

        #bold {
          font-weight: bold;
          color: #000;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #91ebfd;
            transition: all ease 0.6s;
          }
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorMiami-03 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &.dark-mode {
          border-bottom: 1px solid #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #343a40;
          }
        }

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #fff;
            transition: all ease 0.6s;
          }
        }

        #bold {
          font-weight: bold;
          color: #000;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #91ebfd;
            transition: all ease 0.6s;
          }
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorMiami-04 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &.dark-mode {
          border-bottom: 1px solid #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #343a40;
          }
        }

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #fff;
            transition: all ease 0.6s;
          }
        }

        #bold {
          font-weight: bold;
          color: #000;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #91ebfd;
            transition: all ease 0.6s;
          }
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorLondres-01 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &.dark-mode {
          border-bottom: 1px solid #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #343a40;
          }
        }

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #fff;
            transition: all ease 0.6s;
          }
        }

        #bold {
          font-weight: bold;
          color: #000;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #91ebfd;
            transition: all ease 0.6s;
          }
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorLondres-02 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &.dark-mode {
          border-bottom: 1px solid #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #343a40;
          }
        }

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #fff;
            transition: all ease 0.6s;
          }
        }

        #bold {
          font-weight: bold;
          color: #000;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #91ebfd;
            transition: all ease 0.6s;
          }
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorLondres-03 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &.dark-mode {
          border-bottom: 1px solid #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #343a40;
          }
        }

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #fff;
            transition: all ease 0.6s;
          }
        }

        #bold {
          font-weight: bold;
          color: #000;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #91ebfd;
            transition: all ease 0.6s;
          }
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorLondres-04 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &.dark-mode {
          border-bottom: 1px solid #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #343a40;
          }
        }

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #fff;
            transition: all ease 0.6s;
          }
        }

        #bold {
          font-weight: bold;
          color: #000;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #91ebfd;
            transition: all ease 0.6s;
          }
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorOrlando-01 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &.dark-mode {
          border-bottom: 1px solid #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #343a40;
          }
        }

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #fff;
            transition: all ease 0.6s;
          }
        }

        #bold {
          font-weight: bold;
          color: #000;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #91ebfd;
            transition: all ease 0.6s;
          }
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorOrlando-02 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &.dark-mode {
          border-bottom: 1px solid #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #343a40;
          }
        }

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #fff;
            transition: all ease 0.6s;
          }
        }

        #bold {
          font-weight: bold;
          color: #000;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #91ebfd;
            transition: all ease 0.6s;
          }
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorOrlando-03 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &.dark-mode {
          border-bottom: 1px solid #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #343a40;
          }
        }

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #fff;
            transition: all ease 0.6s;
          }
        }

        #bold {
          font-weight: bold;
          color: #000;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #91ebfd;
            transition: all ease 0.6s;
          }
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }

      &__favorOrlando-04 {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-bottom: 1px solid #91ebfd;
        transition: all ease 0.6s;
        display: none;

        &.dark-mode {
          border-bottom: 1px solid #212529;
          transition: all ease 0.6s;

          &:hover {
            background-color: #343a40;
          }
        }

        &:hover {
          background-color: #caf0f8;
          transition: all ease 0.6s;
        }

        &-description {
          width: 50%;
          margin-right: 10%;
          color: #404040;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #fff;
            transition: all ease 0.6s;
          }
        }

        #bold {
          font-weight: bold;
          color: #000;
          transition: all ease 0.6s;

          &.dark-mode {
            color: #91ebfd;
            transition: all ease 0.6s;
          }
        }

        & img {
          width: 30%;
          border-radius: 10px;
        }
      }
    }
  }
}
