.main {
  width: 100%;

  &__wrapper {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;

    &__navigation {
      width: 70px;
      background-color: #caf0f8;
      transition: all ease 0.6s;

      &.dark-mode {
        background-color: #343a40;
        transition: all ease 0.6s;
      }

      &__sec {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &-one {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;

          & #list-01 {
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            margin-top: 10px;
            text-decoration: none;
            transition: all ease 0.6s;

            &:hover {
              & #list-01__icon {
                transform: rotate(360deg);
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }

              & #list-01__paragraph {
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }
            }

            &__icon {
              font-size: 1.8rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }
          }

          & #list-02 {
            transition: all ease 0.6s;
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            text-decoration: none;
            transition: all ease 0.6s;

            &__icon {
              font-size: 1.8rem;
              color: #08024b;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #90e0ef;
                transition: all ease 0.6s;
              }
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #08024b;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #90e0ef;
                transition: all ease 0.6s;
              }
            }
          }

          & #list-03 {
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            text-decoration: none;
            transition: all ease 0.6s;

            &:hover {
              & #list-03__icon {
                transform: rotate(360deg);
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }

              & #list-03__paragraph {
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }
            }

            &__icon {
              font-size: 1.8rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }
          }
        }

        &-two {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;

          & #list-01 {
            transition: all ease 0.6s;
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            transition: all ease 0.6s;

            &:hover {
              & #list-01__icon {
                transform: rotate(360deg);
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }

              & #list-01__paragraph {
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }
            }

            &__icon {
              font-size: 1.8rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }
          }

          & #list-02 {
            transition: all ease 0.6s;
            position: relative;
            cursor: pointer;
            padding: 7px 0;
            text-decoration: none;
            transition: all ease 0.6s;

            &:hover {
              & #list-02__icon {
                transform: rotate(360deg);
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }

              & #list-02__paragraph {
                color: #08024b;
                transition: all ease 0.6s;

                &.dark-mode {
                  color: #90e0ef;
                  transition: all ease 0.6s;
                }
              }
            }

            &__icon {
              font-size: 1.8rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }

            &__paragraph {
              font-size: 0.9rem;
              color: #0081f5;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #212529;
                transition: all ease 0.6s;
              }
            }
          }
        }
      }
    }

    &__chat {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 30%;
      background-color: #fff;
      box-shadow: 0px 0 8px 0 #b9b9b9;
      overflow: auto;
      transition: all ease 0.6s;

      &.dark-mode {
        box-shadow: 0px 0 8px 0 #212529;
        background-color: #495057;
        transition: all ease 0.6s;
      }

      &__support {
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dddddd;
        cursor: pointer;
        transition: all ease 0.3s;

        &.dark-mode {
          border-bottom: 1px solid #343a40;
          transition: all ease 0.3s;

          &:hover {
            background-color: #212529;
            transition: all ease 0.3s;
          }
        }

        &:hover {
          background-color: #f0f8ff;
          transition: all ease 0.3s;
        }

        &-photo {
          width: 50px;
          background-color: #7fffd4;
          height: 50px;
          border-radius: 35px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #08024b;
          transition: all ease 0.3s;

          &.dark-mode {
            background-color: #495057;
            border: 1px solid #90e0ef;
            transition: all ease 0.6s;

            & i {
              color: #90e0ef;
              transition: all ease 0.3s;
            }
          }

          & i {
            color: #08024b;
            font-size: 1.6rem;
            transition: all ease 0.3s;
          }
        }

        &-information {
          margin-left: 20px;
          margin-right: 95px;

          &-name {
            margin-bottom: 8px;
            font-size: 1.2rem;
            color: #08024b;
            transition: all ease 0.6s;

            &.dark-mode {
              color: #90e0ef;
              transition: all ease 0.6s;
            }
          }

          &-text {
            display: flex;
            transition: all ease 0.6s;

            &.dark-mode {
              & i {
                color: #fff;
                transition: all ease 0.6s;
              }
            }

            & i {
              margin-right: 5px;
              font-size: 0.9rem;
              color: #404040;
              transition: all ease 0.6s;
            }

            &-message {
              font-size: 0.9rem;
              color: #404040;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #fff;
                transition: all ease 0.6s;
              }
            }
          }
        }

        &-eraser {
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: all ease 0.2s;

          &.dark-mode {
            & i {
              color: #90e0ef;
              transition: all ease 0.2s;

              &:hover {
                color: #fff;
                transition: all ease 0.2s;
              }
            }
          }

          &-time {
            margin-bottom: 5px;
            font-size: 0.8rem;
            color: #404040;
            transition: all ease 0.6s;

            &.dark-mode {
              color: #90e0ef;
              transition: all ease 0.6s;
            }
          }

          & i {
            color: #404040;
            transition: all ease 0.2s;

            &:hover {
              color: #d81919;
              transition: all ease 0.2s;
            }
          }
        }
      }

      &__user {
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dddddd;
        cursor: pointer;
        transition: all ease 0.3s;

        &.dark-mode {
          border-bottom: 1px solid #343a40;
          transition: all ease 0.3s;

          &:hover {
            background-color: #212529;
            transition: all ease 0.3s;
          }
        }

        &:hover {
          background-color: #f0f8ff;
          transition: all ease 0.3s;
        }

        &-photo {
          width: 50px;
          background-color: #7fffd4;
          height: 50px;
          border-radius: 35px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #08024b;
          transition: all ease 0.6s;

          &.dark-mode {
            background-color: #495057;
            border: 1px solid #90e0ef;
            transition: all ease 0.6s;

            & i {
              color: #90e0ef;
              transition: all ease 0.6s;
            }
          }

          & i {
            color: #08024b;
            font-size: 1.6rem;
          }
        }

        &-information {
          margin-left: 20px;
          margin-right: 95px;

          &-name {
            margin-bottom: 8px;
            font-size: 1.2rem;
            color: #08024b;
            transition: all ease 0.6s;

            &.dark-mode {
              color: #90e0ef;
              transition: all ease 0.6s;
            }
          }

          &-text {
            display: flex;
            transition: all ease 0.6s;

            &.dark-mode {
              & i {
                color: #fff;
                transition: all ease 0.6s;
              }
            }

            & i {
              margin-right: 5px;
              font-size: 0.9rem;
              color: #404040;
            }

            &-message {
              font-size: 0.9rem;
              color: #404040;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #fff;
                transition: all ease 0.6s;
              }
            }
          }
        }

        &-eraser {
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: all ease 0.2s;

          &.dark-mode {
            & i {
              color: #90e0ef;
              transition: all ease 0.2s;

              &:hover {
                color: #fff;
                transition: all ease 0.2s;
              }
            }
          }

          &-time {
            margin-bottom: 5px;
            font-size: 0.8rem;
            color: #404040;
            transition: all ease 0.6s;

            &.dark-mode {
              color: #90e0ef;
              transition: all ease 0.6s;
            }
          }

          & i {
            color: #404040;
            transition: all ease 0.2s;

            &:hover {
              color: #d81919;
              transition: all ease 0.2s;
            }
          }
        }
      }

      & .new-chat {
        position: absolute;
        bottom: 20px;
        right: 20px;
        transform: scale(1);
        cursor: pointer;
        z-index: 1;
        transition: all ease 0.3s;

        &__wrapper {
          height: 50px;
          background: #90e0ef;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 30px;
          border: 1px solid #90e0ef;
          transition: all ease 0.6s;

          &.dark-mode {
            background: none;
            border: 1px solid #90e0ef;
            transition: all ease 0.6s;

            i {
              color: #90e0ef;
              transition: all ease 0.6s;
            }

            &:hover {
              i {
                color: #212529;
                transition: all ease 0.6s;
              }
            }
          }

          &:hover {
            background: none;
            transition: all ease 0.6s;
            border: 1px solid #343232;
          }

          & i {
            font-size: 1.5rem;
            color: #343232;
            transition: all ease 0.6s;
          }
        }
      }
    }

    &__send {
      width: 65%;
      transition: all ease 0.6s;

      &.dark-mode{
        background-color: #495057;
        transition: all ease 0.6s;
      }

      &__support {
        display: none;
        &__navigation {
          display: flex;
          align-items: center;
          background-color: #f0f8ff;
          padding: 10px 15px;
          transition: all ease 0.6s;

          &.dark-mode {
            background-color: #343a40;
            transition: all ease 0.6s;
          }

          &-photo {
            width: 40px;
            background-color: #f0f8ff;
            height: 40px;
            border-radius: 35px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #08024b;
            margin-right: 15px;
            transition: all ease 0.6s;

            &.dark-mode {
              background-color: #212529;
              border: 1px solid #90e0ef;
              transition: all ease 0.6s;

              & i {
                color: #90e0ef;
                transition: all ease 0.6s;
              }
            }

            & i {
              color: #08024b;
              font-size: 1.6rem;
              transition: all ease 0.6s;
            }
          }

          &__status {
            margin-right: 608px;
            &-name {
              color: #08024b;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #fff;
                transition: all ease 0.6s;
              }
            }

            &-situation {
              font-size: 0.8rem;
              margin-top: 5px;
              color: #1592b9;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #90e0ef;
                transition: all ease 0.6s;
              }
            }
          }

          & .search-icon {
            color: #08024b;
            margin-right: 20px;
            cursor: pointer;
            transition: all ease 0.6s;

            &.dark-mode {
              color: #90e0ef;
              transition: all ease 0.6s;
            }
          }

          & .ellipsis-icon {
            color: #08024b;
            cursor: pointer;
            transition: all ease 0.6s;

            &.dark-mode {
              color: #90e0ef;
              transition: all ease 0.6s;
            }
          }
        }

        &__messege {
          height: 75vh;
          overflow: auto;
          transition: all ease 0.6s;

          &.dark-mode {
            background-color: #495057;
            transition: all ease 0.6s;
          }

          &-sms {
            padding: 20px;
            background-color: aquamarine;
            width: min-content;
            margin-left: 10px;
            font-size: 0.8rem;
            margin-top: 10px;
            border-radius: 15px 15px 15px 5px;
            line-height: 15px;
          }
        }

        &__footer {
          display: flex;
          align-items: center;
          background-color: #f0f8ff;
          padding: 11px 15px;
          transition: all ease 0.6s;

          &.dark-mode {
            background-color: #343a40;
            transition: all ease 0.6s;

            & input {
              background-color: #212529;
              transition: all ease 0.6s;
            }
          }

          & .smile-icon {
            font-size: 1.5rem;
            cursor: pointer;
            color: #08024b;
            transition: all ease 0.6s;

            &.dark-mode {
              color: #90e0ef;
              transition: all ease 0.6s;
            }
          }

          & .paperclip-icon {
            font-size: 1.5rem;
            cursor: pointer;
            margin-left: 10px;
            margin-right: 20px;
            color: #08024b;
            transition: all ease 0.6s;

            &.dark-mode {
              color: #90e0ef;
              transition: all ease 0.6s;
            }
          }

          & input {
            width: 84%;
            margin-right: 13px;
            padding: 11px 10px;
            outline: none;
            border: none;
            font-size: 1rem;
            border-radius: 30px;
            transition: all ease 0.6s;
          }

          & .send-icon {
            font-size: 1.5rem;
            cursor: pointer;
            color: #08024b;
            transition: all ease 0.3s;

            &.dark-mode {
              color: #90e0ef;
              transition: all ease 0.3s;
            }

            &:hover {
              color: #7fffd4;
              transition: all ease 0.3s;
            }
          }
        }
      }

      &__new-user {
        display: none;
        &__navigation {
          display: flex;
          align-items: center;
          background-color: #f0f8ff;
          padding: 10px 15px;
          transition: all ease 0.6s;

          &.dark-mode {
            background-color: #343a40;
            transition: all ease 0.6s;
          }

          &-photo {
            width: 40px;
            background-color: #f0f8ff;
            height: 40px;
            border-radius: 35px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #08024b;
            margin-right: 15px;
            transition: all ease 0.6s;

            &.dark-mode {
              background-color: #212529;
              border: 1px solid #90e0ef;
              transition: all ease 0.6s;

              & i {
                color: #90e0ef;
                transition: all ease 0.6s;
              }
            }

            & i {
              color: #08024b;
              font-size: 1.6rem;
              transition: all ease 0.6s;
            }
          }

          &__status {
            margin-right: 646px;
            &-name {
              color: #08024b;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #fff;
                transition: all ease 0.6s;
              }
            }

            &-situation {
              font-size: 0.8rem;
              margin-top: 5px;
              color: #b91515;
              transition: all ease 0.6s;

              &.dark-mode {
                color: #ef9090;
                transition: all ease 0.6s;
              }
            }
          }

          & .search-icon {
            color: #08024b;
            margin-right: 20px;
            cursor: pointer;
            transition: all ease 0.6s;

            &.dark-mode {
              color: #90e0ef;
              transition: all ease 0.6s;
            }
          }

          & .ellipsis-icon {
            color: #08024b;
            cursor: pointer;
            transition: all ease 0.6s;

            &.dark-mode {
              color: #90e0ef;
              transition: all ease 0.6s;
            }
          }
        }

        &__messege {
          height: 75vh;
          overflow: auto;
          transition: all ease 0.6s;

          &.dark-mode {
            background-color: #495057;
            transition: all ease 0.6s;
          }

          &-sms {
            padding: 20px;
            background-color: aquamarine;
            width: min-content;
            margin-left: 10px;
            font-size: 0.8rem;
            margin-top: 10px;
            border-radius: 15px 15px 15px 5px;
            line-height: 15px;
          }
        }

        &__footer {
          display: flex;
          align-items: center;
          background-color: #f0f8ff;
          padding: 11px 15px;
          transition: all ease 0.6s;

          &.dark-mode {
            background-color: #343a40;
            transition: all ease 0.6s;

            & input {
              background-color: #212529;
              transition: all ease 0.6s;
            }
          }

          & .smile-icon {
            font-size: 1.5rem;
            cursor: pointer;
            color: #08024b;
            transition: all ease 0.6s;

            &.dark-mode {
              color: #90e0ef;
              transition: all ease 0.6s;
            }
          }

          & .paperclip-icon {
            font-size: 1.5rem;
            cursor: pointer;
            margin-left: 10px;
            margin-right: 20px;
            color: #08024b;
            transition: all ease 0.6s;

            &.dark-mode {
              color: #90e0ef;
              transition: all ease 0.6s;
            }
          }

          & input {
            width: 84%;
            margin-right: 13px;
            padding: 11px 10px;
            outline: none;
            border: none;
            font-size: 1rem;
            border-radius: 30px;
          }

          & .send-icon {
            font-size: 1.5rem;
            cursor: pointer;
            color: #08024b;
            transition: all ease 0.3s;

            &.dark-mode {
              color: #90e0ef;
              transition: all ease 0.3s;
            }

            &:hover {
              color: #7fffd4;
              transition: all ease 0.3s;
            }
          }
        }
      }
    }
  }
}

// Responsive for notebook with size diferents
@media screen and (min-width: 1400px) {
  .main {
    &__wrapper {
      &__chat {
        &__support {
          &-information {
            margin-left: 20px;
            margin-right: 160px;
          }
        }

        &__user {
          &-information {
            margin-left: 20px;
            margin-right: 160px;
          }
        }
      }

      &__send {
        width: 66%;
        transition: all ease 0.6s;

        &__support {
          &__navigation {
            &__status {
              margin-right: 680px;
              width: 20%;
            }
          }

          &__messege {
            height: 77.7vh;
          }

          &__footer {
            padding: 7px 15px;
            & input {
              width: 86%;
            }
          }
        }
      }
    }
  }
}
